.box {
  position: relative;
  border-radius: 3px;
  background: #F9E8A0;
  border-top: 3px solid #F2CA27;
  margin-bottom: 20px;
  width: 100%;
}
.box-header {
  background-color: #F9E8A0;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 3px;
}
.box-title{
	color:black;
}